body {
  font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: #eee;
}

a, a:visited, a:active {
  color: #026fa0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.links {
  list-style-type: none;
}

.links li a {
  display: flex;
  align-items: center;
  inline-size: fit-content;
  line-height: 24px;
  margin: 2rem 0;
}

p {
  line-height: 2rem;
}

img.icon {
  float: left;
  margin: 0 0.75rem 0 0;
}
