body {
  font-family: "Andale Mono", "Courier New", Courier, monospace;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: #eee;
}

a, a:visited, a:active {
  color: #026fa0;
  text-decoration: none;
}

ul.links {
  list-style-type: none;
}

.links li a {
  display: flex;
  align-items: center;
  line-height: 3rem;
}

p {
  line-height: 2rem;
}